.pills-features{
    color:turquoise;
    font-size: 20px;
    padding:10px;
    margin-left:40px;
}

.heading{
    margin-left:15px;
    margin-top:10px;
    font-family:'Aclonica';
    font-variant:small-caps;
    font-size: 50px;
    font-weight: bold;
}